<footer class="bg-footer">
  <div class="container-fluid">
    <div class="d-flex justify-content-between mb-8">
      <!-- nav & contact -->
      <div>
        <ul class="d-flex gap-12 mb-4 mb-md-36 d-none">
          <li>
            <a class="color-white footer-nav-item" href="../pages/index.html"
              >首頁</a
            >
          </li>
          <li>
            <a
              class="color-white footer-nav-item"
              href="../pages/glasses-optical.html"
              >系列鏡框</a
            >
          </li>
          <li>
            <a class="color-white footer-nav-item" href="#">門市據點</a>
          </li>
          <li>
            <a class="color-white footer-nav-item" href="#">部落格</a>
          </li>
          <li>
            <a class="color-white footer-nav-item" href="#">常見問題</a>
          </li>
        </ul>
        <div class="d-flex gap-3 mb-2">
          <img
            class="contact-img"
            src="../assets/images/call_48dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.png"
            alt="call"
          />
          <a class="font-size-4 color-white fs-sm" href="tel:+0800-000-000">
            0800-000-000
          </a>
        </div>
        <div class="d-flex gap-3">
          <img
            class="contact-img"
            src="../assets/images/mail_48dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.png"
            alt="mail"
          />
          <a
            class="font-size-4 color-white fs-sm"
            href="mailto:glasses@business.com"
          >
            glasses@business.com
          </a>
        </div>
      </div>

      <!-- social-media -->
      <ul class="d-flex gap-32">
        <li>
          <a href="#">
            <img
              class="social-media"
              src="../assets/images/ic-social-fb.png"
              alt="fb"
            />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              class="social-media"
              src="../assets/images/ic_social_ig.png"
              alt="ig"
            />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              class="social-media"
              src="../assets/images/ic_social_line.png"
              alt="line"
            />
          </a>
        </li>
      </ul>
    </div>

    <div class="d-flex flex-column-sm justify-content-between divider gap-sm-8">
      <p class="color-white">Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="d-flex flex-column-sm flex-wrap gap-12 gap-sm-8">
        <li class="color-white">隱私權政策</li>
        <li class="color-white">服務條款</li>
      </ul>
    </div>
  </div>
</footer>
