<nav class="bg-nav">
  <div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-between align-items-center">
      <h1 class="w-100 py-16 ps-12 py-12">
        <a class="logo" href="../pages/index.html"
          ><img src="../assets/images/logo-white.png" alt="logo-white"
        /></a>
      </h1>
      <ul class="d-flex w-100 flex-wrap gap-64 gap-sm-0 pe-12 pe-sm-0">
        <li class="nav-sm-list">
          <a
            class="nav-sm-item color-white font-size-7"
            href="../pages/glasses-optical.html"
            >系列鏡框</a
          >
        </li>
        <li class="nav-sm-list">
          <a class="nav-sm-item color-white font-size-7" href="#">門市據點</a>
        </li>
        <li class="nav-sm-list">
          <a class="nav-sm-item color-white font-size-7" href="#">部落格</a>
        </li>
        <li class="nav-sm-list">
          <a class="nav-sm-item color-white font-size-7" href="#">常見問題</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
