.bg-footer {
  background-color: $color-primary;
  padding-top: 48px;
  padding-bottom: 32px;

  .container-fluid {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
  }

  .social-media {
    width: 48px;
    height: 48px;
  }
  .contact-img {
    width: 48px;
    height: 48px;
  }
  .divider {
    border-top: 1px solid $color-white;
    padding-top: 32px;
  }

  .footer-nav-item:hover {
    color: $color-dark-red;
    transition: color 0.15s ease-in-out;
  }

  .footer-hover {
    color: $color-white;
    &:hover {
      color: $color-dark-red;
      transition: color 0.15s ease-in-out;
    }
  }

  @include mobile-lg {
    .bg-footer {
      padding: 24px 0;
    }

    .contact-img {
      width: 24px;
      height: 24px;
    }

    .social-media {
      width: 24px;
      height: 24px;
    }
  }
}

@include pad {
  .mb-md-36 {
    margin-bottom: 36px;
  }
}

@include mobile-lg {
  .d-none {
    display: none;
  }

  .fs-sm {
    font-size: $font-size-base;
  }

  .flex-column-sm {
    flex-direction: column;
  }

  .gap-sm-8 {
    gap: 8px;
  }
}
