<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>系列鏡框 Optical</title>
    <link rel="stylesheet" href="../assets/css/all.css" />
  </head>
  <body>
    <!-- header-navigation -->
    <%- include('./layout/header'); -%>

    <!-- glasses-nav -->
    <div class="container container-md-fluid-px-0 container-sm-fluid-px-0">
      <ul class="glasses-nav-list d-flex">
        <li class="glasses-nav-list-item-1 glasses-nav-list-item-1-active">
          <a class="glasses-nav-list-item-link" href="#">OPTICAL</a>
        </li>
        <li class="glasses-nav-list-item-2">
          <a class="glasses-nav-list-item-link" href="sunglasses.html"
            >SUNGLASSES</a
          >
        </li>
        <li class="glasses-nav-list-item-3">
          <a class="glasses-nav-list-item-link" href="#">FUNCTIONAL</a>
        </li>
      </ul>
    </div>

    <!-- banner -->
    <section>
      <ul class="d-flex">
        <li class="banner-img">
          <picture>
            <source
              srcset="../assets/images/product-header-sm-1.png"
              media="(max-width: 767px)"
              style="width: 100%"
            />
            <img
              src="../assets/images/product-header-1.png"
              alt="a glasses on the book"
            />
          </picture>
        </li>
        <li class="banner-img">
          <picture>
            <source
              srcset="../assets/images/product-header-sm-2.png"
              media="(max-width: 767px)"
              style="width: 100%"
            />
            <img
              src="../assets/images/product-header-2.png"
              alt="a lady with glasses"
            />
          </picture>
        </li>
      </ul>
    </section>

    <!-- (main) Celluloid Combi 賽璐珞鈦金屬混合鏡框 -->
    <section class="bg-main">
      <main class="container container-md container-sm">
        <h2 class="text-center font-size-3 mb-8">
          Celluloid Combi <br /><span class="font-size-5"
            >賽璐珞鈦金屬混合鏡框</span
          >
        </h2>

        <ul class="row">
          <!-- 1~4 start -->
          <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-1.png" alt="product-1" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-2.png" alt="product-2" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-3.png" alt="product-3" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-4.png" alt="product-4" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <!-- 1~4 end -->

          <!-- 5~8 start -->
          <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-5.png" alt="product-5" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-6.png" alt="product-6" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-2.png" alt="product-7" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-4.png" alt="product-8" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <!-- 5~8 end -->

          <!-- 9~12 start -->
          <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-3.png" alt="product-9" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-1.png" alt="product-10" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-6.png" alt="product-11" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-5.png" alt="product-12" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <!-- 9~12 end -->

          <!-- 13~16 start -->
          <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-2.png" alt="product-13" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-3.png" alt="product-14" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-5.png" alt="product-15" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-1.png" alt="product-16" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <!-- 13~16 end -->
        </ul>

        <!-- paginator-group -->
        <ul class="paginator-group">
          <li><a class="paginator-group-item-previous" href="#">上一頁</a></li>
          <li>
            <a class="paginator-group-item-first" href="#">1</a>
          </li>
          <li><a class="paginator-group-item" href="#">2</a></li>
          <li><a class="paginator-group-item" href="#">3</a></li>
          <li><a class="paginator-group-item" href="#">4</a></li>
          <li><a class="paginator-group-item" href="#">5</a></li>
          <li><a class="paginator-group-item-next" href="#">下一頁</a></li>
        </ul>
      </main>
    </section>

    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
