<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>系列鏡框 Sunglasses</title>
    <link rel="stylesheet" href="../assets/css/all.css" />
  </head>
  <body>
    <!-- header-navigation -->
    <%- include('./layout/header'); -%>

    <!-- glasses-nav -->
    <div class="container container-md-fluid-px-0 container-sm-fluid-px-0">
      <ul class="glasses-nav-list d-flex justify-content-center">
        <li class="glasses-nav-list-item-1">
          <a class="glasses-nav-list-item-link" href="glasses-optical.html"
            >OPTICAL</a
          >
        </li>
        <li class="glasses-nav-list-item-2">
          <a
            class="glasses-nav-list-item-link glasses-nav-list-item-2-active"
            href="#"
            >SUNGLASSES</a
          >
        </li>
        <li class="glasses-nav-list-item-3">
          <a class="glasses-nav-list-item-link" href="#">FUNCTIONAL</a>
        </li>
      </ul>
    </div>

    <!-- banner -->
    <section>
      <ul class="d-flex">
        <li class="banner-img">
          <picture>
            <source
              srcset="../assets/images/product-header-sm-3.png"
              media="(max-width: 767px)"
              style="width: 100%"
            />
            <img
              src="../assets/images/product-header-3.png"
              alt="a glasses on the beach"
            />
          </picture>
        </li>
        <li class="banner-img">
          <picture>
            <source
              srcset="../assets/images/product-header-sm-4.png"
              media="(max-width: 767px)"
              style="width: 100%"
            />
            <img
              src="../assets/images/product-header-4.png"
              alt="a lady with sunglasses"
            />
          </picture>
        </li>
      </ul>
    </section>

    <!-- (main) 2020 NEW COLLECTION 賽璐珞鈦金屬混合鏡框 -->
    <section class="bg-main">
      <main class="container container-md container-sm">
        <h2 class="text-center font-size-3 mb-8">
          2020 NEW COLLECTION <br /><span class="font-size-5"
            >賽璐珞鈦金屬混合鏡框</span
          >
        </h2>
        <ul class="row">
          <li
            class="col-4 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6"
          >
            <div class="card">
              <img src="../assets/images/product-7.png" alt="sunglasses" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-4 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-8.png" alt="sunglasses" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-4 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-9.png" alt="sunglasses" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-4 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-10.png" alt="sunglasses" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-4 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-11.png" alt="sunglasses" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
          <li class="col-4 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card">
              <img src="../assets/images/product-12.png" alt="sunglasses" />
              <div class="d-flex">
                <span class="font-size-6">BJ41600S</span
                ><span class="ms-auto font-size-6 color-primary">NTD3,490</span>
              </div>
              <div>
                <span class="color-box-1"></span
                ><span class="color-box-2"></span>
              </div>
            </div>
          </li>
        </ul>

        <!-- paginator-group -->
        <ul class="paginator-group">
          <li><a class="paginator-group-item-previous" href="#">上一頁</a></li>
          <li>
            <a class="paginator-group-item-first" href="#">1</a>
          </li>
          <li><a class="paginator-group-item" href="#">2</a></li>
          <li><a class="paginator-group-item" href="#">3</a></li>
          <li><a class="paginator-group-item" href="#">4</a></li>
          <li><a class="paginator-group-item" href="#">5</a></li>
          <li><a class="paginator-group-item-next" href="#">下一頁</a></li>
        </ul>
      </main>
    </section>

    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
